@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink-fade {
  0% { opacity: 0.1; }
  5% { opacity: 1; }
  20% { opacity: 0.8; }
  40% { opacity: 0.6; }
  60% { opacity: 0.4; }
  80% { opacity: 0.2; }
  100% { opacity: 0; }
}
.blink-fade {
  animation: blink-fade var(--blink-fade-duration, 1s) linear;
}
